.PostCard {
    display: flex;

    gap: 10px;
    height: 100%;
    max-width: 1440px;
    margin-top: 150px;

}

.PostCard-content {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    height: 150px;
    margin: 0 auto;
}

.PostCard-Notes {
    margin-left: 150px;
}

p {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.PostCard-Get {
    width: 300px;
    display: flex;
    height: 150px;
    border-radius: 16px;
    border: 2px solid #008000;
    background-color: rgb(32, 31, 31);
    padding: 10px;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.card-title{
    text-decoration: none;
    color: white;
    border-bottom: none;
    font-family: 'Courier New', Courier, monospace;
}
.card-content{
    text-decoration: none;
    border-bottom: none;
    color: white;
    border-bottom-color: none;
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: transparent;
    border: none;
}